<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BeanfunLogin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <BeanfunLogin.Properties.Settings>
            <setting name="rememberAccount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rememberPwd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccountID" serializeAs="String">
                <value />
            </setting>
            <setting name="autoSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoSelectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="entropy" serializeAs="String">
                <value />
            </setting>
            <setting name="gamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="loginMethod" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="keepLogged" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="currentVersion" serializeAs="String">
                <value>191</value>
            </setting>
            <setting name="loginGame" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="entropyForList" serializeAs="String">
                <value />
            </setting>
            <setting name="opengame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoPaste" serializeAs="String">
                <value>False</value>
            </setting>
        </BeanfunLogin.Properties.Settings>
    </userSettings>
	
	    <system.diagnostics>

        <trace autoflush="true" />
        
        <sources>
            <source name="System.Net" maxdatasize="1024">
                <listeners>
                    <add name="MyTraceFile"/>
                    <add name="MyConsole"/>
                </listeners>
            </source>
        </sources>

        <sharedListeners>
            <add
              name="MyTraceFile"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData="System.Net.trace.log"
                />
            <add name="MyConsole" type="System.Diagnostics.ConsoleTraceListener" />
        </sharedListeners>

        <switches>
          <!--  <add name="System.Net" value="Information" />  -->
          <!--            <add name="System.Net" value="Verbose" />-->
        </switches>

    </system.diagnostics>

  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>

</configuration>
