<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BeanfunLogin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <BeanfunLogin.Properties.Settings>
            <setting name="rememberAccount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rememberPwd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccountID" serializeAs="String">
                <value />
            </setting>
            <setting name="autoSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoSelectIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="entropy" serializeAs="String">
                <value />
            </setting>
            <setting name="gamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="loginMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="keepLogged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showTip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="currentVersion" serializeAs="String">
                <value>156</value>
            </setting>
        </BeanfunLogin.Properties.Settings>
    </userSettings>
</configuration>
